.App {
  display: flex;
  flex-direction: column;
}
.cards{
  display: flex;
  background-color: brown;
}
.footer{
  background-color : #c7ffed;
  color: #ba324f;
}
.clinic{
  color: #ba324f!important
}
.about{
  color: #f9c846 !important
}
.medical{
  color: #416788 !important
}
.doctors{
  color: #a77464 !important
}
.btn{
  background-color:  #a77464 !important
}
h5{
  color: #416788 !important
}
.najla{
  color: #a77464 !important
}
.ali{
  color: #ad871c !important
}
.mohanned{
  color: #416788 !important
}
.homepage{
  color: #7ab95d !important
}